.console-container {
    height: 100vh;
}

.console-container .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.console-layout {
    min-width: 1080px;
}

.console-layout .console-header {
    background: #fff;
    padding: 0;
}

.console-container .trigger {
    padding: 0 12px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.console-container .trigger:hover {
    color: #1890ff;
}

.console-container .console-header .user-center {
    text-align: right;
    padding-right: 10px;
}

.console-container .console-header .user-center .user-icon {
    padding: 0 6px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.console-container .console-header .user-center .user-icon:hover {
    color: #1890ff;
}

.console-page-tab-container {
    height: 31px;
    line-height: 31px;
    padding: 0px 1px;
    border-top: 1px solid rgb(217,217,217);
    border-bottom: 1px solid rgb(217,217,217);
}

.console-page-tab-container .ant-tag {
    height: 26px;
    line-height: 26px;
    margin: 4px 0px 0 0px;
    font-size: 12px;
    border-radius: 5px 5px 0 0;
}

.console-page-tab-container .actived {
    color: #1890ff;
    font-weight: 600;
}

.console-layout .console-content {
    background: #fff;
    margin: 0;
    padding: 0;
}